{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block section %}
	<section id="account_section">
		<h1>Register</h1>
		<div id="form_container">
			{{ form_start(registrationForm) }}
			{{ form_row(registrationForm.nom) }}
			{{ form_row(registrationForm.prenom) }}
			{{ form_row(registrationForm.email) }}
			{{ form_row(registrationForm.plainPassword, {
                label: 'Password'
                }) }}
			<button type="submit" class="btn">Register</button>
			{{ form_end(registrationForm) }}
			<span>Already a member ?
				<a href="login">Log In</a>
			</span>
		</div>
	</section>
{% endblock %}
