{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	- Account
{% endblock %}

{% block section %}
	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		<section id="account_section">
			<h1>Account</h1>
			<div id="form_container2">
			{% form_theme accountForm 'form/form_errors.html.twig' %}
				{{ form_start(accountForm, {'attr': {'id': 'account_form'}}) }}
				<div>
					<div>User Information</div>
					<div id="edit_buttons_container">
						<span id="edit_button">Edit</span>
					</div>
				</div>
				<div>
					<div>
						{{ form_label(accountForm.nom, 'Last name') }}
						{{ form_widget(accountForm.nom) }}
						{{ form_errors(accountForm.nom) }}
					</div>
					<div>
						{{ form_label(accountForm.prenom, 'First name') }}
						{{ form_widget(accountForm.prenom) }}
						{{ form_errors(accountForm.prenom) }}
					</div>
				</div>
				<div>
					<div>
						{{ form_label(accountForm.email, 'Email Address') }}
						{{ form_widget(accountForm.email) }}
						{{ form_errors(accountForm.email) }}
					</div>
					<div>
						{{ form_label(accountForm.tel, 'Phone Number') }}
						{{ form_widget(accountForm.tel) }}
						{{ form_errors(accountForm.tel) }}
					</div>
				</div>
				<div id="change_password_button">Change pass</div>
				<div>
					<div>Contact Information</div>
				</div>
				<div>
					<div>
						{{ form_label(accountForm.adresse, 'Address') }}
						{{ form_widget(accountForm.adresse) }}
						{{ form_errors(accountForm.adresse) }}
					</div>
				</div>
				<div>
					<div>
						{{ form_label(accountForm.ville, 'City') }}
						{{ form_widget(accountForm.ville) }}
						{{ form_errors(accountForm.ville) }}
					</div>
					<div>
						{{ form_label(accountForm.cp, 'Postal Code') }}
						{{ form_widget(accountForm.cp) }}
						{{ form_errors(accountForm.cp) }}
					</div>
				</div>
				{{ form_end(accountForm) }}
				<div id="password_change_modal" class="slide_delay1">
					{% form_theme passwordForm 'form/form_errors.html.twig' %}
					{{ form_start(passwordForm, {'attr': {'id': 'change_password_form'}}) }}
						<div>
							<div id="close_modal_button">
								<i class="far fa-times"></i>
							</div>
							<div>Change your password</div>
						</div>
						<div>
							{{ form_label(passwordForm.plainPassword, 'New Password') }}
							{{ form_widget(passwordForm.plainPassword) }}
							{{ form_errors(passwordForm.plainPassword) }}
						</div>
						<div>
							{# {{ form_label(passwordForm.plainPassword, 'New password') }}
							{{ form_widget(passwordForm.plainPassword) }}
							{{ form_errors(passwordForm.plainPassword) }} #}
						</div>
						<input type="submit" value="Validate changes">
					{{ form_end(passwordForm) }}
				</div>
			</div>
		</section>
	{% endif %}
{% endblock %}


{% block body %}
	<script type="module" src="../../js/modules/_forms.js"></script>
{% endblock %}
