{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	- Can sugars
{% endblock %}

{% block section %}
	<section id="product_section">
		{% for product in products %}
			<div class="product_container">
				<div class="slide_delay4">{{ product.id }}</div>
				<div class="slide_delay1">{{ product.nom }}</div>
				<div class="slide_delay2">{{ product.description }}</div>
				<div class="slide_delay3">{{ product.prix }} €</div>
				<button class="add_to_cart_button{{ product.id }}">Add to cart</button>
			</div>
		{% endfor %}
	</section>
{% endblock %}

{% block product_carousel %}
	{% include "/template_parts/_product_slider.html.twig" %}
{% endblock %}

{% block body %}
	<script type="module" src="js/modules/_canSugar.js"></script>
{% endblock %}