<nav>
    <div id="nav_links_text">
        <a href="{{path('app_home')}}">Rums</a>
        <a href="{{path('app_cansugars')}}">Can sugars</a>
        <a href="{{path('app_about')}}">About us</a>
    </div>
    <div id="nav_links_icon">
        <div class="js_toggle">
            <div class="toggle_container">Cart</div>
            <a href="{{path('app_cart')}}"><i class="fal fa-shopping-cart"></i></a>
        </div>
        <div class="js_toggle">
            <div class="toggle_container">Account</div>
            <a href="{{path('app_account')}}"><i class="fal fa-user"></i></a>
        </div>
        {% if is_granted('ROLE_USER') %}
            <div class="js_toggle">
                <div class="toggle_container">Log out</div>
                <a href="{{path('app_logout')}}"><i class="fal fa-sign-out"></i></a>
            </div>
        {% endif %}
    </div>
</nav>